:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --link-hover-color: #2196F3;
    --primary-bg-color: #2F303A;
    --bg-color-wite: #fff;
    --bg-color-grey: #F5F4FA;
    
}

body {
    margin: 0 0 0 0;
    font-family: Roboto, sans-serif;
    background: #fff;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.33;
}

h2, h3, p {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

.list {
padding-top: 0;
padding-bottom: 0;
padding-right: 0;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
list-style:none;
}

.page-header{
border-bottom: 1px solid #ECECEC;
}

.main-nav{
display: flex;
align-items: center;
}

.logo {
padding-top: 24px;
padding-bottom: 25px;
display: block;
font-family:'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing:0.03em;
color:black;
text-decoration: none;
}

.logo:hover{   
color:var(--link-hover-color)''
}

.logo-web{
color:var(--link-hover-color)
}

.site-nav .item + .item{
    margin-right: 50px;
}

.page-header {
    background-color:#fff;
}

.container {
    width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list{
padding-top: 0;
padding-bottom: 0;
padding-right: 0;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
list-style: none;
}

/*site-nav*/
.site-nav{
    display: flex;
    margin-left: 93px;

}

.site-nav .item + .item{
    margin-left: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  line-height: 1.2;  
  letter-spacing: 0.2em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus
{
    color:var(--link-hover-color)
}

.link.studio{
    color:var(--link-hover-color)
}

.header-contact{
    display:flex;
    margin-left: auto;
}

.header-contact .item + .item{
    margin-left: 50px;
}

.header-contact .h-link{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;


}

.header-contact .h-link:hover
.header-contact .h-link:focus
{
    color:var(--link-hover-color);
}





/*Features*/



.section.feature {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--bg-color-wite);
}

.feature-list {
    display: flex;
}

.feature-list .item p {
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.feature-list .item + .item{
    margin-left: 30px;
}
.feature-title {
    font-size: 0;
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}


.team .title {
    color: var(--title-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.button {
    min-width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    margin-left: 484px;
    margin-right: 484px;
    background: var(--link-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #ffffff;
}



.order {
    background-color:var(--primary-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center;
    text-align: center;
    

}


.section-title.one {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}



.section-title.work,
.section-title.team
{
 margin-top: 0;
font-weight: 700;
font-size: 36px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: #212121;
}
.section-title{
    margin-bottom: 50px;
}


.work-list {
    display: flex;
}

.work-list .item + .item{
    margin-left: 30px;

}

.team-list {
    display: flex;
}

.team-list .item{
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .item + .item{
    margin-left: 30px;
}

.team-card {
    display: block;
}

.title-team{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-title-text{
    padding-top: 30px;
    padding-bottom: 30px;
}

.section.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}



.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}

.logo-footer:hover{
    color:var(--link-hover-color);
}

.footer-list {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-bg-color);
}

.contact-adres{
display: block;
margin-bottom: 9px;
font-style:normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
color: #ffffff;
}

.contact-mail{
    display: block;
    margin-bottom: 9px;
}

.contact-tel{
    display: block;
}
.contact-mail, .contact-tel{
color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.contact-adres:hover,
.contact-mail:hover,
.contact-tel:hover{
    color:var(--link-hover-color);
}

.contact-adres:focus,
.contact-mail:focus,
.contact-tel:focus {
    color: var(--link-hover-color);
}



/*Portfolio*/

.link.portfolio {
    color: var(--link-hover-color);
}

.portf-title {
    display: none;

}



.button-portf{
    background: #F5F4FA;
    border: none;
    font-family: inherit;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button-portf:hover,
.button-portf:focus{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #ffffff;
}

.portf-list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portf-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}
